venv/
ENV/
env/
.venv/
__pycache__/
*.py[cod]
*.command
.env
*.pyc
server_settings.json
bot.log
cloudflared/
backup.ps1
logs/
*.log
Dockerfile
docker-compose.yml
.dockerignore
start.bat
immie/
.DS_Store
.AppleDouble
.LSOverride
*.txt
*.json
*.zip
.vscode/
.idea/
*.msgpack
data/
cloudflared
